doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rabbi cutter
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href='./styles/main.css', rel='stylesheet')
        link(rel="shortcut icon", href="http://www.iconj.com/ico/z/1/z1iy5rqo7d.ico", type="image/x-icon")


    body
        h1 Welcome to Rabbi Cutter
        .p-l-40.m-b-20
            input.hide(type="file", id="js-fileinput", name="imageLoader", accept="image/jpeg,image/png,image/gif")
            label.btn.noselect(for="js-fileinput") Choose a file...
        .row
            .col.width-20
                h3.p-b-0  Crop shape:
                div.m-l-10
                    input.m-l-10.m-t-10(type="button", value="circle", onclick="updateShape('circle')")
                    input.m-l-10.m-t-10(type="button", value="rectangle", onclick="updateShape('rectangle')")
                h3.p-b-0  Other:
                div.m-l-10
                    input.m-l-10.m-t-10(type="button", value="download", onclick="downloadImage()")
                h3.p-b-0 Working field style:
                div.m-l-10
                    input.m-l-10.m-t-10(type="button", value="contain", onclick="updateStyles('contain')")
                    input.m-l-10.m-t-10(type="button", value="stretchByWidth", onclick="updateStyles('stretchByWidth')")
                    input.m-l-10.m-t-10(type="button", value="stretchByHeight", onclick="updateStyles('stretchByHeight')")
                    input.m-l-10.m-t-10(type="button", value="realsize", onclick="updateStyles('realsize')")

                .m-t-20.m-l-20
                    canvas(id="js-previewcanvas", onclick="downloadImage()", style="cursor: pointer")
            .col.width-80
                .rcutter(style="width: 100%; height: 800px")
                    canvas(id="js-editorcanvas")

        script(src="scripts/components/jquery/jquery-3.1.1.min.js")
        script(src="scripts/components/rcutter/rcutter.js")
        script(src="scripts/main.js")