doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rabbi cutter
        link(href='./styles/main.css', rel='stylesheet')


    body
        div hola amigos

        script(src="scripts/components/jquery/jquery-3.1.1.min.js")
        script(src="scripts/components/jquery/jquery-ui.js")
        script(src="scripts/components/rcutter/rcutter.js")
        script(src="scripts/main.js")